
.source-serif-4 {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.primary-col{
  color: #2B7FFF;
}
.primary-bg{
  background-color: #2B7FFF;
}